<div class="container">
    <h2 class="text-center">Paises</h2>
    <table class="table table-dark text-center">
        <thead>
            <tr>
                <th style="cursor: pointer;" scope="col" (click)="setOrder('id')">ID</th>
                <th style="cursor: pointer;" scope="col" (click)="setOrder('nombre')">Nombre</th>
                <th style="cursor: pointer;" scope="col" (click)="setOrder('capital')">Capital</th>
                <th style="cursor: pointer;" scope="col"><i class="fas fa-sort" (click)="sort()"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pais of paises">
                <th>{{pais.id}}</th>
                <td>{{pais.nombre}}</td>
                <td>{{pais.capital}}</td>
                <td></td>
            </tr>
            <tr>
                <td><i class="fas fa-angle-double-left fa-2x" (click)="rewind()"></i></td>
                <!--Indice de numeros-->
                <td colspan="2">
                    <!--Se crea los numeros de acuerdo a la cantidad de paginas-->
                    <span *ngFor="let p of totalPages; let i = index"><!--Index comienza en cero y itera-->

                    <a style="cursor: pointer;" (click)="setPage(i)"
                    [ngClass]="{'text-success': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   
                    </span>

                </td>

                <td><i class="fas fa-angle-double-right fa-2x" (click)="forward()"></i></td>
            </tr>
        </tbody>
    </table>
</div>